.App {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.App-form {
  display: flex;
  align-items: center;
  margin: 50px auto 20px;
  flex-direction: column;
  border-bottom: 5px solid #aeaeae;
}

.form-title {
  width: 95%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 10px;
  margin: 0 auto 12px;
}

.form-description {
  width: 95%;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid black;
  margin: 0 auto 12px;
}

.App-form button {
  padding: 5px 10px;
  border: 3px solid #f08080;
  background-color: #fff5ee;
  border-radius: 10px;
  margin-bottom: 20px;
}
